body {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    letter-spacing: 2px;
    overflow-x: hidden;
    -webkit-transition:padding-top 0.5s ease-in; -moz-transition:padding-top 0.5s ease-in; -ms-transition:padding-top 0.5s ease-in; -o-transition:padding-top 0.5s ease-in; transition:padding-top 0.5s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 15px 0;
    font-family: 'Passion One';
    letter-spacing:3px;

}

h1{
  font-size: 38px:


}


h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

p{
  font-size:14px;
  font-family: 'Titillium Web', sans-serif;
  color:#000;
  line-height: 18px;
}



/* ESTILOS */

.nomargin{
  margin:0 !important;
}
.nopadding{
  padding:0 !important;
}

.imagen2{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  width:100%;
}




.parrafointernet{
  font-family: 'Titillium Web', sans-serif;
  color:#000;
  padding-top: 10%;
  width: 500px;
}



.titulointernet{
  text-align: center;
  color: #000;
  padding-top: 100px;
}

}
.logoparrafo {
  display: inline-block;
  float: right;
  margin-top: 10%;
}



.parrafomaslogo{
  margin-top: 5%;

}

.col-center {
   margin-right: auto;
   margin-left: auto;
   display: inline-block;
   vertical-align: middle;
}

.centered{
  text-align: center;

}
