/****** PLACE YOUR CUSTOM STYLES HERE ******/
.up{
    width: 50%;
    height: 40px;
    background-color: #333;
    position: absolute;
    bottom: 0px;
    left:0px;
    padding-top: 12px;
    color: #fff;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.down{
    width: 50%;
    height: 40px;
    background-color: #333;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-top: 12px;
    color: #fff;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.up:hover, .down:hover{
    background-color: #000;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll !important;
    padding-top: 55px;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -ms-transition: width 300ms;
    -o-transition: width 300ms;
    transition: width 300ms;
    border-right: 1px solid #ccc;
}
.list{
    height: auto;
    margin-top: 0;
}

.sidenav  > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor:pointer;
}

.elem{
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    opacity: 0;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

#main-container {
    transition: margin-left .5s;
}

.background-image-holder2 {
    height: 80vh !important;
}

.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-prev:before {
    color: #292929;
}

.mr32{
    margin-right: 32px;
}

.servs{
    display: inline-block;
    margin: 0 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.carousel {
  background: #EEE;
}
.carousel img {
  display: block;
  height: 200px;
}
.carrousel-cell {
  margin-right: 20px
}
.imagencarrusel {
  margin-right: 20px;
}
@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}
